{% extends "base.html" %}
{% block body %}
<form method="POST" action="">
        {{ form.hidden_tag() }}
        <div>
            {{ form.user_or_email.label }}<br/>
            {{ form.user_or_email(size=30) }}<br/>
            {% for error in form.user_or_email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }}<br/>
            {{ form.password(size=30) }}<br/>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.remember_me.label }}<br/>
            {{ form.remember_me() }}<br/>
            {% for error in form.remember_me.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>{{ form.submit() }}</div>
    </form>
{% endblock %}
